.wishlist-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.wishlist-button {
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
  width: 6.25rem;
  height: 3.125rem;
  font-size: 0.875rem;
  background-color: #fff;
  border: 1px solid #ff3e6cb3;
  color: #ff3e6c;
}

.wishlist-button:hover:not(:disabled) {
  background-color: #ff3e6c;
  color: #ffffff;
}

@media (max-width: 48rem) {
  .wishlist-button {
    height: 1.875rem;
    width: 3.125rem;
    font-size: 0.625rem;
  }
}
